@font-face {
  font-family: "Roboto";
  font-weight: 400;
  src: url("./fonts/Roboto-Regular.ttf") format("truetype");
  src: url("./fonts/Roboto-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto";
  font-weight: 700;
  src: url("./fonts/Roboto-Bold.ttf") format("truetype");
  src: url("./fonts/Roboto-Bold.ttf ") format("truetype");
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

  font-family: "Roboto";
  color: #fff;

  background-color: transparent;

  border: unset;
}

body {
  padding: 50px;

  background-color: rgb(138, 214, 228);
}

code,
kbd,
samp {
  padding: 2px 4px;

  font-family: monospace;

  background-color: rgb(150, 223, 235);

  border-radius: 5px;
}

var,
abbr,
q,
cite,
dfn {
  padding: 2px 4px;

  background-color: rgb(150, 223, 235);

  border-radius: 5px;
}

mark {
  padding: 2px 4px;

  color: #555;

  background-color: mark;

  border-radius: 5px;
}

blockquote {
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 40px;
  margin-inline-end: 40px;
}

.header {
  font-size: 42px;
  font-weight: 700;
  text-align: center;
}

.tags {
  position: relative;
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  margin-top: 50px;
}

.tags::before {
  content: "";
  position: absolute;
  top: 0;
  left: 2%;
  height: 100%;
  width: 25px;

  background: linear-gradient(
    to right,
    rgb(149, 219, 232) 0%,
    rgb(154, 227, 239) 50%,
    rgb(149, 219, 232) 100%
  );

  z-index: -10;
}

.tags_item {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  padding: 20px;

  background: linear-gradient(
    45deg,
    rgb(152, 227, 240) 0%,
    rgb(169, 235, 247) 20%,
    rgb(138, 214, 228) 100%
  );

  box-shadow: 0px 0px 50px 0px rgba(167, 235, 247, 0);

  border-radius: 20px;

  transition: 0.2s ease-in-out;
  transition-property: box-shadow, transform;
}

.tags_item:hover {
  box-shadow: 0px 0px 50px 0px rgba(167, 235, 247, 0.5);

  transform: scale(1.01);
  transform: scale(0.99);
  transform: translateX(5px);
}

.tags_item_title {
  font-size: 28px;
}

.tags_item_title span {
  padding: 2px 4px;

  font-weight: 700;

  background-color: rgb(150, 223, 235);

  border-radius: 5px;
}

.tags_item_preview {
  font-size: 18px;
}

.tags_item_preview hr {
  height: 2px;
  margin: 10px 0;

  background-color: rgba(255, 254, 254, 0.3);
}
