@font-face {
  font-family: "Roboto";
  font-weight: 400;
  src: url("/assets/fonts/Roboto-Regular.ttf") format("truetype");
  src: url("/assets/fonts/Roboto-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto";
  font-weight: 700;
  src: url("./fonts/Roboto-Bold.ttf") format("truetype");
  src: url("./fonts/Roboto-Bold.ttf ") format("truetype");
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

  font-family: "Roboto";

  background-color: transparent;

  border: unset;
}

body {
  background-color: rgb(189, 245, 255);
}

.table_list {
  width: 500px;

  border-collapse: collapse;
}

.table_list td,
.table_list th {
  padding: 5px 10px;

  border: 1px solid #6395ff;
}

.table_list thead {
  background-color: #dae1f8;
}

.table_list tfoot {
  color: #fff;
  text-align: right;

  background-color: #5776b1;
}

.table_schedule {
  width: 700px;
  margin-top: 50px;

  border-collapse: collapse;
}

.table_schedule th,
.table_schedule td {
  padding: 5px 10px;
}

.table_schedule .border,
.table_schedule .border th {
  border: 5px solid #6395ff;
}

.table_schedule td.border {
  border: 1px solid #6395ff;
}

.table_schedule td.border.bottom {
  border: unset;
  border-bottom: 1px solid #6395ff;
}

.table_schedule .border.right {
  border-width: 1px;
  border-right: unset;
}

.table_schedule .border.left {
  border-width: 1px;

  border-left-style: dashed;
}

.text-v {
  writing-mode: vertical-rl;
  text-orientation: upright;
}

.green {
  background-color: #e2efda;
}

.blue {
  background-color: #d9e1f2;
}
